FORMAT: 1A
HOST: http://okidoctor.com/api/

# OKIDOC

Esta es  la documentación para el uso del API en OKIDOC, por los momentos 
limitado a llamados dentro del sistema, iniciados por el sistema o el usuario


## Group Endpoints

Las llamadas de datos se hacen a través del *apiController* para ser accesibles vía ULR (GET). 
Recibe los parámetros separados por "/". 

Puede aceptar hasta 6 parámetros


Esta es la estructura del URL:
    
    
    api/consulta/
                parametro1/
                parametro2/
                parametro3/
                parametro4/
                parametro5/
                parametro6/
    

## autocomplete [/autocomplete/{print}/{object}/?term={term} ]

/autocomplete toma los siguientes parametros

+ print (json or array)
+ object
+ term

    # Lista de Acciones

+ Listar todos los "pacientes" con el nombre o apellido "Jhon"

    api/autocomplete/json/patient/?term=jhon

+ Listar Clinicas, Doctores por nombre o apellido, Direccion de Clinica, Especialidad del Doctor

    api/autocomplete/json/?term=Car



+ Parameters
    + print: json, array (required, String) - Cómo será retornada la respuesta
    + object: all, practice, patient (required, String) - El objeto a ser buscado
    + term: Cardiolo (optional, String) - El String de búsqueda. Debe ir precedido por "?term="

### test autocomplete [GET]

+ Response 200 (application/json)

        [{
            "label": "Nombre de Clínica",
            "id_value": "1",
            "type": "clinic_name"
        }, {
            "label": "Dirección de Clínica",
            "id_value": "2",
            "type": "clinic_address"
        }, {
            "label": "Nombre del Paciente",
            "id_value": "3",
            "type": "patient_name"
        }, {
            "label": "Nombre del Doctor",
            "id_value": "4",
            "type": "doctor_name"
        }]

## Appointments [/appointments/{print}/element/{element_id}/{from_date}/{to_date}]

+ Parameters
    + print: json, array (required, String) - Cómo será retornada la respuesta
    + element: doctor (required, string) - Nombre del parametro a identificar
    + element_id: 22 (required, number) - Id Value
    + from_date: YYYY-MM-DD (required, number) - Fecha de inicio para el período a consultar
    + to_date: YYYY-MM-DD (required, number) - Fecha de término para el período a consultar

### test appointments [GET]

Obtener el listado de Citas por Médico, Centro y Fecha
    
     URL: /appointments/{print}/doctor/{element_id}/{from_date}/{to_date}

Response 201

    {
    "empty": 0,
    "dates": [{
        "date_string": "2015-09-17",
        "practice": [{
            "id": "2",
            "name": "Nombre Clínica",
            "address": "Direccion de clínica",
            "id_zone": null,
            "id_state": null,
            "id_city": null,
            "appointments": [{
                "id": "12",
                "id_doctor": "22",
                "id_clinic": "2",
                "date": "2015-09-17",
                "suggested_time_appointment": "00:00:00",
                "conditions": null,
                "id_practice_schedule": "1",
                "id_patient": "24",
                "patient_data": [{
                    "id": "24",
                    "username": "username@paciente",
                    "name": "Nombre del Paciente",
                    "lastname": "",
                    "email": "emaildel@paciente.com",
                    "id_card": null,
                    "birth": "",
                    "gender": null,
                    "phone": null,
                    "data": "{\"creationdate\":\"2015-01-20 02:15:25\"}",
                    "avatar": "",
                    "status": "active"
                }]
            }]
        },{
            "id": "6",
            "name": "La ViÃ±a",
            "address": "av",
            "id_zone": null,
            "id_state": null,
            "id_city": null
        }]
    }, "date_string": "2015-09-17",
        "practice": [{
            "id": "2",
            "name": "Nombre Clínica",
            "address": "Direccion de clínica",
            "id_zone": null,
            "id_state": null,
            "id_city": null,
            "appointments": [{
                "id": "12",
                "id_doctor": "22",
                "id_clinic": "2",
                "date": "2015-09-17",
                "suggested_time_appointment": "00:00:00",
                "conditions": null,
                "id_practice_schedule": "1",
                "id_patient": "24",
                "patient_data": [{
                    "id": "24",
                    "username": "username@paciente",
                    "name": "Nombre del Paciente",
                    "lastname": "",
                    "email": "emaildel@paciente.com",
                    "id_card": null,
                    "birth": "",
                    "gender": null,
                    "phone": null,
                    "data": "{\"creationdate\":\"2015-01-20 02:15:25\"}",
                    "avatar": "",
                    "status": "active"
                }]
            }]
        },{
            "id": "6",
            "name": "La ViÃ±a",
            "address": "av",
            "id_zone": null,
            "id_state": null,
            "id_city": null
        }]
    }, {
        "date_string": "2015-09-19",
        "practice": [{
            "id": "2",
            "name": "Guerra Mendez",
            "address": "av",
            "id_zone": null,
            "id_state": null,
            "id_city": null,
            "appointments": [{
                "id": "19",
                "id_doctor": "22",
                "id_clinic": "2",
                "date": "2015-09-19",
                "suggested_time_appointment": "00:00:00",
                "conditions": null,
                "id_practice_schedule": "1",
                "id_patient": "27",
                "patient_data": [{
                    "id": "27",
                    "username": "jflores@besign.com.ve",
                    "name": "Jessica",
                    "lastname": "",
                    "email": "jflores@besign.com.ve",
                    "id_card": null,
                    "birth": null,
                    "gender": null,
                    "phone": null,
                    "data": "",
                    "avatar": "",
                    "status": "active"
                }]
            }]
        }, {
            "id": "6",
            "name": "Otra Clinica sin citas",
            "address": "Direccion clinica",
            "id_zone": null,
            "id_state": null,
            "id_city": null
        }, {
            "id": "7",
            "name": "Otra Clinica sin citas 2",
            "address": "Direccion clinica",
            "id_zone": null,
            "id_state": null,
            "id_city": null
        }]
    }
    

+ Response 201

    + Headers

            Location: /appointments/json/doctor/22/2015-09-01/2015-09-01/
    + Body
    
            {
            "empty": 0,
            "dates": [{
                "date_string": "2015-09-17",
                "practice": [{
                    "id": "2",
                    "name": "Nombre Clínica",
                    "address": "Direccion de clínica",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null,
                    "appointments": [{
                        "id": "12",
                        "id_doctor": "22",
                        "id_clinic": "2",
                        "date": "2015-09-17",
                        "suggested_time_appointment": "00:00:00",
                        "conditions": null,
                        "id_practice_schedule": "1",
                        "id_patient": "24",
                        "patient_data": [{
                            "id": "24",
                            "username": "username@paciente",
                            "name": "Nombre del Paciente",
                            "lastname": "",
                            "email": "emaildel@paciente.com",
                            "id_card": null,
                            "birth": "",
                            "gender": null,
                            "phone": null,
                            "data": "{\"creationdate\":\"2015-01-20 02:15:25\"}",
                            "avatar": "",
                            "status": "active"
                        }]
                    }]
                },{
                    "id": "6",
                    "name": "La ViÃ±a",
                    "address": "av",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null
                }]
            }, "date_string": "2015-09-17",
                "practice": [{
                    "id": "2",
                    "name": "Nombre Clínica",
                    "address": "Direccion de clínica",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null,
                    "appointments": [{
                        "id": "12",
                        "id_doctor": "22",
                        "id_clinic": "2",
                        "date": "2015-09-17",
                        "suggested_time_appointment": "00:00:00",
                        "conditions": null,
                        "id_practice_schedule": "1",
                        "id_patient": "24",
                        "patient_data": [{
                            "id": "24",
                            "username": "username@paciente",
                            "name": "Nombre del Paciente",
                            "lastname": "",
                            "email": "emaildel@paciente.com",
                            "id_card": null,
                            "birth": "",
                            "gender": null,
                            "phone": null,
                            "data": "{\"creationdate\":\"2015-01-20 02:15:25\"}",
                            "avatar": "",
                            "status": "active"
                        }]
                    }]
                },{
                    "id": "6",
                    "name": "La ViÃ±a",
                    "address": "av",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null
                }]
            }, {
                "date_string": "2015-09-19",
                "practice": [{
                    "id": "2",
                    "name": "Guerra Mendez",
                    "address": "av",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null,
                    "appointments": [{
                        "id": "19",
                        "id_doctor": "22",
                        "id_clinic": "2",
                        "date": "2015-09-19",
                        "suggested_time_appointment": "00:00:00",
                        "conditions": null,
                        "id_practice_schedule": "1",
                        "id_patient": "27",
                        "patient_data": [{
                            "id": "27",
                            "username": "jflores@besign.com.ve",
                            "name": "Jessica",
                            "lastname": "",
                            "email": "jflores@besign.com.ve",
                            "id_card": null,
                            "birth": null,
                            "gender": null,
                            "phone": null,
                            "data": "",
                            "avatar": "",
                            "status": "active"
                        }]
                    }]
                }, {
                    "id": "6",
                    "name": "Otra Clinica sin citas",
                    "address": "Direccion clinica",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null
                }, {
                    "id": "7",
                    "name": "Otra Clinica sin citas 2",
                    "address": "Direccion clinica",
                    "id_zone": null,
                    "id_state": null,
                    "id_city": null
                }]
            }

## Questions Collection [/appointments{?page}]

+ Parameters
    + page: 1 (optional, number) - The page of questions to return
    
    