FORMAT: 1A
HOST: http://okidoctor.com/api/

# OKIDOC

Esta es  la documentación para el uso del API en OKIDOC, por los momentos 
limitado a llamados dentro del sistema, iniciados por el sistema o el usuario


## Group Endpoints

Las llamadas de datos se hacen a través del *apiController* para ser accesibles vía ULR (GET). 
Recibe los parámetros separados por "/". 

Puede aceptar hasta 6 parámetros


Esta es la estructura del URL:
    
    
    api/appointments/
                    parametro1/
                    parametro2/
                    parametro3/
                    parametro4/
                    parametro5/
                    parametro6/
    

## Autocomplete [/autocomplete/{print}/{object}/?term={term} ]

Autocomplete toma los siguientes parametros

+ print (json or array)
+ object
+ term

+ Parameters
    + print: json, array (required, String) - Cómo será retornada la respuesta
    + object: all, practice, patient (required, String) - El objeto a ser buscado
    + term: (optional, String) - El String de búsqueda. Debe ir precedido por "?term="

### Ver Autocomplete [GET]

+ Response 200 (application/json)

        [{
            "label": "Nombre de Clínica",
            "id_value": "1",
            "type": "clinic_name"
        }, {
            "label": "Dirección de Clínica",
            "id_value": "2",
            "type": "clinic_address"
        }, {
            "label": "Nombre del Paciente",
            "id_value": "3",
            "type": "patient_name"
        }, {
            "label": "Nombre del Doctor",
            "id_value": "4",
            "type": "doctor_name"
        }]

## Appointments [/appointments/{print}/doctor/{doctor_id}/{from_date}/{to_date}]

+ Parameters
    + print: json, array (required, String) - Cómo será retornada la respuesta
    + element: doctor (required, string) - Nombre del parametro a identificar
    + element_id: 22 (required, number) - Id Value
    + from_date: YYYY-MM-DD (required, number) - Fecha de inicio para el período a consultar
    + to_date: YYYY-MM-DD (required, number) - Fecha de término para el período a consultar

### appointments [GET]

Obtener el listado de Citas por Médico, Centro y Fecha

+ Response 201

    + Headers

            Location: /appointments/json/doctor/22/2015-09-01/2015-09-01/

## Questions Collection [/appointments{?page}]

+ Parameters
    + page: 1 (optional, number) - The page of questions to return

### List All Questions [GET]

+ Response 200 (application/json)

    + Headers

            Link: </questions?page=2>; rel="next"

    + Body

            [
                {
                    "question": "Favourite programming language?",
                    "published_at": "2014-11-11T08:40:51.620Z",
                    "url": "/questions/1",
                    "choices": [
                        {
                            "choice": "Swift",
                            "url": "/questions/1/choices/1",
                            "votes": 2048
                        }, {
                            "choice": "Python",
                            "url": "/questions/1/choices/2",
                            "votes": 1024
                        }, {
                            "choice": "Objective-C",
                            "url": "/questions/1/choices/3",
                            "votes": 512
                        }, {
                            "choice": "Ruby",
                            "url": "/questions/1/choices/4",
                            "votes": 256
                        }
                    ]
                }
            ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ question (string) - The question
+ choices (array[string]) - A collection of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2014-11-11T08:40:51.620Z",
                "url": "/questions/2",
                "choices": [
                    {
                        "choice": "Swift",
                        "url": "/questions/2/choices/1",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "url": "/questions/2/choices/2",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "url": "/questions/2/choices/3",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "url": "/questions/2/choices/4",
                        "votes": 0
                    }
                ]
            }
