.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

@-webkit-keyframes fadeOutUp { 
    0% { 
        height: auto;   opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        height: 0; margin:0; opacity: 0; 
        -webkit-transform: translateY(-20px); 

    } 
} 
@keyframes fadeOutUp { 
    0% { 

        height: auto; opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        height: 0; opacity: 0; margin:0; 
        transform: translateY(-20px);
    } 

} 
.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}




.nopadding { padding: 0 !important}
.inlineradio label { display: inline-block !important; padding-top: 7px !important;  margin-right: 15px !important; }

#right-side-card {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.btn-success.btn-confirm { background:#82CE34; border-color: #82CE34;   width: 100%;    border-radius: 0 0 35px 0 !important; font-size: 125%;}
.btn-cancel  {    width: 100%;    border-radius: 0 !important; padding: 15px; text-transform: uppercase; }

.patient-item {  transition: all ease 0.3s;  display: table;
  table-layout: fixed; background: #FFF;    text-align: center;    padding: 20px 0 30px; border-right: solid 1px #CDD9DE; border-bottom: solid 1px #CDD9DE; }
.patient-item img {    max-width: 120px;    margin: auto; }
.patient-item h4 { color: #3898F9;    font-weight: 200;   margin-bottom: 20px;}
.patient-item:hover {
    box-shadow: 0px 0px 11px rgba(0,0,0,0.2);
    border: none;
    z-index: 99;
    transform: scale(1.1);
}