html {
  position: relative;
  min-height: 100%;
}
  	background:#ECF0F1; /* Old browsers */
	background: -moz-linear-gradient(top,  #ECF0F1 0%, #FFFFFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECF0F1), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ECF0F1 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ECF0F1 0%,#FFFFFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ECF0F1 0%,#FFFFFF 100%); /* IE10+ */

body {
	background: linear-gradient(to bottom,  #ECF0F1 0%,#FFFFFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECF0F1', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	color:#616467/*556473*/;
	font-family: 'Lato';
}



.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}


#panel-drawer { background: #525C6D; min-height:700px; height:100%; color: #FFF; padding: 0; position: fixed; left: 0; top: 0; bottom:0 }
.drawer_profile{background: #4E92F6; padding:40px; position: relative; }
.drawer_menu {}
.menu-content {
  display: block;
}
ul.menu-content, .nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.menu-content li {  list-style: none; margin: 0px; padding: 10px 10px 10px 40px;  border-bottom: 1px solid #5D687B; line-height: 35px; cursor: pointer;}
.menu-content li a { color:rgba(255,255,255,0.6); font-weight:300; text-transform:uppercase }
.menu-content li:hover a, .menu-content li:hover { background: #5D687B;color: rgba(255,255,255,1); text-decoration: none;}


.panel_menu {
	  overflow: auto;
	  font-family: verdana;
	  font-size: 12px;
	  font-weight: 200;
	  background-color: #2e353d;
	  position: fixed;
	  top: 0px;
	  width: 300px;
	  height: 100%;
	  color: #e1ffff;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



#panel-desktop { padding:0;}
#panel-search { height: 80px; padding: 15px; background:#FFF; color: #333; border-bottom:#CCC solid 1px; font-size:200%;  font-weight:100; text-align: right;}
#search-add{background-color: #fff;height: 80px;color: #ccc;font-size: 3.5em;text-align: center;border-bottom:#CCC solid 1px;}
#search-add div{width: 50px;height: 50px;border: solid 1px #ccc;border-radius: 50%;margin: 12px auto; transition: all 0.5s; cursor:pointer;}
#search-add div:hover{box-shadow: 0 0 5px #555;}
#search-add div:before{
    content: "+";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}
#addMenu{
	display: none;
    position: absolute;
    top: 80px;
    right: 0;
    box-shadow: 0 0 5px #555;
    width: 200px;
    font-size: 14px;
    list-style: none;
    z-index: 999;
    padding: 0;
    background: #fff;
}
#addMenu li{
	margin: 0;
    min-height: 50px;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: left;
}
#addMenu li:hover{
	background: #3898F9;
	color: white;
}

#desktop { padding-top: 40px;}

.tip { padding: 20px 15px 15px 15px;  border-radius: 10px;  border: solid 1px #1AD8C1;  color: #1AD8C1;  min-width: 300px;  font-size: 17px;  margin: 50px auto;}
.tip, .tip a { color: #1AD8C1 }
.tip img { /*float: left;*/ width: 40px;  margin: -5px 10px 0px 10px ; }
h1 { color:#3898F9; font-weight:200; margin-bottom:20px }
h4 { color: #7f8c8d; }

/* BUTTONS */
.btn.btn-blue, .btn.btn-green, .btn.btn-cyan, .btn.btn-outline { margin:15px 0 0 10px; }
.btn.btn-outline {  color: #FFF;  background-color: rgba(255,255,255,0);  border-color: #FFF;  border-width: 2px;  
text-transform: uppercase; border-radius: 20px;  padding: 10px 20px;  font-size: 95%;  letter-spacing: 1px;}

.btn.btn-cyan {  background-color: #0DE6C9;  color: #FFF;  border: none;  text-transform: uppercase;  border-radius: 20px;
  padding: 10px 20px;  font-size: 95%;  letter-spacing: 1px;}
  
.btn.btn-blue { color: #FFF; background-color: #3898F9;border-color: #3898F9; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-blue:hover { color: #FFF;background-color: #2C72BD;border-color: #2C72BD;}
.btn-blue:focus {  border-color: none;    box-shadow: none;    -webkit-box-shadow: none;    outline: 0;}

/*.navbar-default .navbar-nav>li>a.btn-login:hover,*/ .btn-green:hover, .btn-blue:hover {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn { transition: .3s;}
.btn.btn-green { color: #FFF; background-color: #3ED87A; border-color: #3ED87A; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-green:hover { color: #FFF; background-color: #36FF84;border-color: #36FF84;}
.btn-green:focus {  border-color: none;    box-shadow: none;    -webkit-box-shadow: none;    outline: 0;}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn-action:focus, .btn-action:active:focus { outline: 0 }
/* 
a.btn.btn-login:hover, .navbar-default .navbar-nav>li>a.btn-login:hover {
  color: #FFF;
  background-color: #1CDBC1;
  border-color: #1CDBC1;
}*/
.btn-add:hover { background-color:#36FF84}
.btn-delete:hover  { background-color: #C0392B; }
.btn-action {   width: 55.5px;  height: 55.5px;  font-size: 35px; text-decoration: none;  color: #FFF;  background-color: #333;  
text-align: center;  letter-spacing: .5px; border-radius: 50%; transition: .3s;  cursor: pointer;  vertical-align: middle; border: none; }
span.btn-action {padding: 10px 20px 10px;}
.btn-add { background-color: #3ED87A; }
.btn-delete { background-color: #D64541; }
.button-instruction {   font-size: 150%;  padding: 0 10px; color:#333;  font-weight: 200; }
a.wrap-action { text-decoration: none}
/* BUTTONS */

.dates-timeline { background: url(../img/timeline_green.png) top left repeat-y; }
.date-circle { border-radius: 50%;    width: 140px;  height: 140px;  background: #1AD8C1;  color: #FFF;  text-align: center;  padding: 20px;  font-size: 50px}
.date-circle .month { font-size: 20px; margin-top:-10px;}
.dates-practices { }
.dates-practices h1, .practice-item h1 { font-weight: 400; text-transform: capitalize;}
.date-spacer { height:35px}
  
.patient-pic {  padding-left: 0; transition: all ease 0.3s; margin-bottom: 15px;}
.patient-pic:hover { padding-top: 10px; margin-bottom: 5px;}
.extra-patients-circle { cursor:pointer; border-radius: 50%;  width: 125px;  height: 125px;  border: solid 5px #1AD8C1;  color: #1AD8C1;  background: #FFF;  
text-align: center;  padding: 24px;  font-size: 45px;  }


.practice-item { background-color: #efefef; padding: 0;  margin: 10px; }
.light-form thead { color: #4E92F6;}


/* FORMS */

.light-form .form-control {
	margin-bottom: 7px;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px /*#95A5A6*/ #7A8181 /*#999*/;
	background: none;
	color: #7A8181;
	font-weight: 800;
	font-size: 170%;
	letter-spacing: 0.5px;
	transition: all ease 0.3s;
    max-width: 100%;
	
}
.light-form input[type=number].form-control ,
.practice-format input[type=text] { padding: 0px;   text-align: center; }


.light-form .form-control:focus{ box-shadow: none;}
.form-control {
  box-shadow: none;
  border: solid 1px #FFF;
}
.light-form label.placeholder {
  position: absolute;
  top: -13px;
  left: 15px;
  font-size: 14px;
  color: #4E92F6;
  transition: all 0.1s linear;
  opacity: 0;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.light-form label.show {
  top: -15px;
  opacity: 1;
}
.light-form .field-wrapper {
  margin-bottom: 20px;
}
.forms h2, h2.forms {   color: #4E92F6;  font-weight: 200;  margin-bottom: 50px;  font-size: 40px;}

.light-form .form-control td {

	font-weight: 400;
	font-size: 140%;
	letter-spacing: 0px;
}
.table-nolines>tbody>tr>td { border: none }
.table-nolines>tbody>tr>td { vertical-align: middle }
input[type="radio"] { display:none; }
input[type="radio"] + label {    color: #7A8181;}
input[type="radio"] + label span {    display:inline-block;    width:20px;    height:20px;    margin:-1px 4px 0 0;    vertical-align:middle;   
cursor:pointer;    -moz-border-radius:  50%;    border-radius:  50%;}

input[type="radio"] + label span {     background-color:#7A8181;  
-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -moz-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -o-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -ms-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: linear-gradient(top, #626464 0%, #7A8181 100%);
}

input[type="radio"]:checked + label span{     background:#4E92F6; box-shadow: none;  width:22px;    height:22px;}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
/*  -webkit-transition:background-color 0.2s ease;
  -o-transition:background-color 0.2s ease;
  -moz-transition:background-color 0.2s ease;
  transition:background-color 0.2s ease;*/
}

input.time-lapse {
	width: 120px;
}


.field-wrapper span, .field-wrapper .text { font-size: 150%;color: #7A8181;  font-weight: 300; margin-bottom:15px}


/* ROUNDED ONE */ /* more at http://cssdeck.com/labs/css-checkbox-styles */
.checkbox {
	width: 24px;
	height: 24px;
	background: #fcfff4;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
/*	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
	position: relative;
}

.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 2px;
	top: 2px;

	/*-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);*/

	background: -webkit-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -moz-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -o-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: -ms-linear-gradient(top, #626464 0%, #7A8181 100%);
	background: linear-gradient(top, #626464 0%, #7A8181 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626464', endColorstr='#7A8181',GradientType=0 );
}

.checkbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #4E92F6;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: -1px;
	left: -1px;
}

.checkbox label:hover::after {	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);	opacity: 0.3; }
.checkbox input[type=checkbox]:checked + label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	filter: alpha(opacity=100);	opacity: 1;}


/* HIDDIG */
.hidden-message{
	display: none;
}
.hidden-patient{
	display: none;
}

/* AUTOCOMPLETE */
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete {
	background:#FFF;
	width: 360px !important;
	border-radius: 0 0 5px 5px;
	padding: 0;
	box-shadow:0 2px 6px rgba(0,0,0,0.3);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
	font-size:8px;
}
.ui-autocomplete li, .pac-item { padding: 15px 20px;border-bottom: solid 1px #BDC3C7;font-size: 110%; color: #3E3E3E; list-style: none;}
.ui-autocomplete li:hover,.pac-item:hover { background:#CDD5D7; }
.pac-container{ font-family:'Lato', sans-serif;border-top:none;border-radius:0 0 5px 5px; }
.hdpi.pac-container:after, .pac-container:after{ background-image:none }
.pac-item{line-height:20px;border-top:none;}
.pac-icon{ margin-top:0px;}

.pac-matched{font-weight:400}
/* AUTOCOMPLETE */

/* id patient */
.p-details{
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	text-transform: uppercase;
	border-bottom: solid 1px white;
}
.p-details p{
	font-size: 10px;
	font-weight: bold;
}
.green{
	background: #31DBC1;
}
.blue{
	background: #4E92F6;
}
.absolute{
	position: absolute;
	font-size: 30px;
	margin-right: 20px;
}
.border-green-50{
	border-left: 3px solid #31DBC1;
	height: 50px;
}
.border-blue-20{
	border-left: 3px solid #4E92F6;
	height: 20px;
}
.text-circle{
	border-radius: 50%;
	width: 125px;
	height: 125px;
	padding: 24px;
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
	margin: auto;
	background: #FFF none repeat auto 0% 0%;
}
.text-circle-blue{
	border: 3px solid #4E92F6;
	color: #4E92F6;
}
.text-circle-green{
	border: 3px solid #31DBC1;
	color: #31DBC1;	
}
.next-app{
	border-top: solid 2px #aaa;
	padding-top: 30px;
	border-bottom: solid 2px #aaa;
	padding-bottom: 30px;
}
.hborder{
	border-bottom: solid 2px #aaa;
	margin: auto;
	height: 1px;
	display: block;
	position: absolute;
	top: 65%;
	width: 100px;
}
.gray{
	background: #aaa;
	margin: auto;
	display: block;
	position: absolute;
	top: 58%;
	width: 100px;
	color: white;
	text-align: center;
	padding: 5px;
}
.gray-right{
	left: 425px;
	right: 0px;
}
.gray-left{
	right: 425px;
	left: 0px;
}
.hborder-right{
	left: 225px;
	right: 0px;
}
.hborder-left{
	right: 225px;
	left: 0px;
}
h3{
	margin-top: 10px; 
}
.text-blue{
	color: #4E92F6;
}
.bfixed{
	width: auto !important;
	height: auto !important;
}
.radio{
	display: inline-block !important;
	
}
.extra-question{
	margin-top: 50px; 
}
.qex{
	margin-top: 20px; 
}
/* Progressbar */
.progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	color: #555;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	text-align: center;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}

.progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 30%;
	z-index: -1; 
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background: #4E92F6;
	color: white;
}
.eso{
	margin-bottom: 100px;
}
.inn{
	left: 16.6667%;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0;
	margin: auto;
}

/* Calendar Wrapper */
.ui-datepicker {
	display: none;
	width: 70%;
	padding: 35px;
	cursor: default;


	text-transform: uppercase;
	font-family: Tahoma;
	font-size: 12px;

	background: transparent;	
}

/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-right: 15px;
	color: #565656;
}

.ui-datepicker-month:before {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 5px;
	height: 5px;
	content: '';

	background: #a5cd4e;
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

	border-radius: 5px;
}
/* start date picker ( YYYY / MM / DD) */
/* Year */
.ui-datepicker-year {
	padding-left: 8px;
	color: #a8a8a8;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: -2px;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 0;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 0;
	padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
	display: block;
	width: 5px;
	height: 10px;
	text-indent: -9999px;


	background-image: url(../img/arrows.png);
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

	background-image: url(../img/arrows.png);
}
.ui-datepicker-prev span { background-position: 0px 0px; }
.ui-datepicker-next span { background-position: -5px 0px; }
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
.ui-datepicker-next-hover span { background-position: -5px -10px; }

/* Calendar "Days" */
.ui-datepicker-calendar th {
	padding-top: 15px;
	padding-bottom: 10px;
	
	text-align: center;
	font-weight: normal;
	color: #888;
}

.ui-datepicker-calendar td {
	padding: 0 7px;
	
	text-align: center;
	line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	width: 26px;
	outline: none;

	text-decoration: none;
	color: #585858;
	
	border: 1px solid transparent;
}

/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {
	color: #3898F9;
	border-bottom-color: #3898F9;
}

/* Other Months Days*/
.ui-datepicker-unselectable span{ color: #afafaf !important;}
}
		
    		


/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {	color: #3898F9; border-bottom-color: #3898F9; }
/* Other Months Days*/
.ui-datepicker-unselectable span{ color: #afafaf !important;}


.ui-datepicker-unselectable{
	color: #777;
}
.current-day{
	width: 70%;
	float: none;
	margin: auto;
	display: block;
}
.current-day h3{
	border: 1px solid #3898F9;
    padding: 10px;
    width: 200px;
    margin: 0 auto 30px;
    color: #3898F9;
    display: none;
    cursor: pointer;
}

.dropable{
	position: relative;
	height: 100px;
	border: dashed 1px #ccc;
	margin: auto;
	overflow: hidden;
	list-style: none;
}
.dropable li {
    padding: 10px;
    width: 200px;
    margin: 20px auto;
    color: #3898F9;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    position: relative;
}
.dropable p{

	display: block;
	margin: 40px auto 0;
	font-size: 15px;
	text-align: center;
}
#breakdrop{
	float: none;
	margin: auto;
}
#add{
    position: absolute;
    background-color: #3ED87A;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    right: 0;
    left: 300px;
    margin: 15px auto;
    width: 70px;
    text-align: center;
    cursor: pointer;
    display: none;
}
.aleft{
    right: 0;
    left: 220px;
    margin: 15px auto;
    position: absolute;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #3ED87A; 
	display: none;
}
.x{
	position: absolute;
	cursor: pointer;
}
#InitDatex, #finalDatex{
	right: -1px;
    top: -1px;
    font-size: 25px;
    font-weight: 300;
    background-color: #CC4B4B;
    color: #fff;
    width: 15%;
    text-align: center;
    display: none;
}





.btn.next, .btn.previous  {     
	text-transform: uppercase;	
    padding: 15px;
    font-size: 115%;
    letter-spacing: 0.5px;
    border-radius: 27px !important;
    min-width: 190px;
    color: #FFF;
    background-color: #45CFCA;
    border-color: #45CFCA; 
}
.btn.success {
	background-color: #2ECC71;
    border-color: #2ECC71;	
}
.light-form .button-area { margin: 35px auto 20px }
input.timepicker {
    padding: 0 !important;
    font-size: 17px !important;
    letter-spacing: -0.6px !important;
}
.light-form td { padding: 0 !important}


.practice-format {
	background: #3EB4E4;
    color: #FFFFFF;
    font-weight: 400;
    padding: 15px 20px;
    font-size: 120%;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.15);
    margin-bottom: 25px;
}
.practice-format .text { font-weight: 400 !important; color: #FFFFFF !important; font-size: 130%}
.practice-format label.error {background: #FB0000;    padding: 2px 5px;    border-radius: 8px;    font-size: 70%;    font-weight: 400;}
input.form-control.input-lg.signinput, input.form-control.input-lg.time-lapse  { color:#000 !important; font-size: 130%; border-color:#FFF !important;}
input.form-control.input-lg.time-lapse{ max-width: 130px;}
.practice-format .signinput::-webkit-input-placeholder, .practice-format .time-lapse::-webkit-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.5) }
.practice-format .signinput::-moz-placeholder, .practice-format .time-lapse::-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.5) }
.practice-format .signinput:-ms-input-placeholder, .practice-format .time-lapse:-ms-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.5) }
.practice-format .signinput input:-moz-placeholder, .practice-format .time-lapse input:-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.5) }
.practice-format .field-wrapper span { color:#FFF; font-size: 100% !important; font-weight: 400 !important; }
.practice-format span.btn-action {    padding: 0px 7px 0px !important; color: #FFF;}
.practice-format  span.button-instruction {font-size: 100% !important; font-weight: 400 !important;}

.practice-sheet { background: #FFF; padding:20px 0 40px;  box-shadow: 4px 4px 3px rgba(0,0,0,0.15); display: table;}
.practice-sheet input { padding: 0;}
.practice-sheet .light-form .form-control { font-size: 130%; font-weight: 700; color: #2C3E50; border-color: #BDC3C7 }
.practice-sheet  .input-lg {   height: 36px;}
.practice-sheet input.form-control.input-lg.time-lapse {   max-width: 60px; }
h3.division , h4.division {     text-transform: uppercase; border-bottom: solid 1px rgba(0,0,0,0.15);    color: #C3C8CA;    padding: 5px 0 10px;  margin: 40px 0 30px; }
.sidetext { display: inline; }
.previewtext {    text-transform: uppercase;    text-align: right;    margin-top: 5px; }

/* hola esto es nuevo */

.cm-container{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#cm-home{
	box-shadow: 0 0 2px #555;
}
.sb-button{
	position: fixed;
	left: 10.5%;
	top: auto;
	bottom: 15px;
	margin: auto;
	z-index: 564564654;
	font-size: 25px;
	color: #888;
	background: white;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
}

.sb-left{
	float: left !important;
}

#menu-small li:first-child{
	margin-top: 70px;
}
#menu-small li{
	height: 70px;
	font-size: 30px;
}
#menu-small li > a{
	display: table;
	margin: auto;
}

#settings-icon{
    position: absolute;
    top: 36.666666666%;
    left: 5%;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    color: #888;
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 5px;
    cursor: pointer;
    width: 50px;
}

#notifications-icon{
	position: absolute;
    top: 36.666666666%;
    left: 77.777777%;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    color: #888;
    padding: 10px;
    padding-top: 11px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.practice-item:nth-child(odd){
	margin-left: 8%;
}
.practice-item .fa{
	display:none;

}
.practice-item .placeholder{
	font-size: 10px;
	color: #777;
	margin-top: 0;
}

.practice-item h3{
	font-size: 1.5em;
	margin-bottom: 0;
}

.practice-item .address{
	background-color: #3EB4E4;
	color: white;
	min-height: 100px;
	padding: 0;
}
.practice-item .address h4{
	margin-top: 40px;
	color: white;
}
.practice-item .details{
	border-bottom: solid 1px #dedede;

}
.practice-item .details:last-child{
	border-bottom: none;
}

.address .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(78, 146, 246, 0.5);
}
.address{
	position: relative;
}