  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
/*  margin-bottom: 60px;*/
  background:#3898F9; /* Old browsers */
  background: -moz-linear-gradient(top,  #3898F9 0%, #50d8c4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3898F9), color-stop(100%,#50d8c4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3898F9 0%,#50d8c4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3898F9', endColorstr='#50d8c4',GradientType=0 ); /* IE6-9 */
  color:#565A5C;
}
/* Preloader */
#preloader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255,255,255,1);
    top:0; left:0;
}
.spinner {
    background: url("../img/loading.svg") no-repeat center / cover;
    width: 100px;
    height: 100px;
    top: 40%;
    position:relative;
    margin: 0 auto;
   /* background-color: #FFF;
    border: 25px solid rgba(0,180,180,0.9);
    opacity: .9;
    border-top: 25px solid rgba(0,0,0,0);
    border-left: 25px solid rgba(0,0,0,0);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    top: 40%;
    position:relative;
    margin: 0 auto;
    -moz-animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;*/
}
/*@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(360deg)}}@-moz-keyframes spinoff{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(-360deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@-webkit-keyframes spinoff{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(-360deg)}}
*/
/* Preloader */

#footer {
	opacity: 0.1;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* BESIGN */
body { font-family: 'Lato', sans-serif; }
.site-head-repv { 
  background: #0099ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #0099ff 0%, #50d8c4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099ff), color-stop(100%,#50d8c4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0099ff 0%,#50d8c4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#50d8c4',GradientType=0 ); /* IE6-9 */
  min-height: 500px;
  padding:30px 15px;
}

.site-home { min-height:550px; padding-top:20px; background:url(../img/bg-city.png) repeat-x bottom center; background-size: 100% auto; }
.whatisit { background: #FFF; min-height:600px; padding: 100px 0}
.whatisit img { margin:auto;}
#site-featured{
  background: url('../img/okidoc-no-mas-salas-de-espera.jpg') no-repeat center / cover; 
  position: relative;
}
#site-featured h2, #site-promotion h2{
  color: white;
  font-size: 3em;
}
.featured-circles{
  position: absolute;
  top: -85px;
  right: 0;
}
.featured-btn{
  border-radius: 45px;
  background-color: transparent;
  color: white;
  padding: 16px;
  width: 46%;
}
.featured-circle{
  width: 220px;
  height: 220px;
  display: inline-block;
  background-color: #fff;
  color: #3898F9;
  border-radius: 50%;
  padding: 45px 30px;
  float: left;
  margin-right: 80px;
  overflow: hidden;
}
.featured-circle i{
  font-size: 3em;
}
.featured-circle h4{
  text-transform: uppercase;
  font-size: 1.5em;
}
.featured-circle::before{
  width: 85px;
  height: 5px;
  background-color: white;
  position: absolute;
  content: '';
  top: 50%;
  margin-left: 128px;

}
.featured-circle:last-child::before{
  display: none;
}

#site-promotion{
  background: url('../img/okidoc-mobile-app.jpg') #1AD8C1 no-repeat center / cover;
  min-height: 600px;
}
.site-footer { background: }

.site-head { 
	margin-top: 170px;
	min-height: 350px;
	padding:30px 15px;
}
.site-head h1, .site-home h1 { color: #FFF; font-size:400%; }
.navbar { background:#FFF; min-height: 80px ;
border: none;
border-radius: 0;
padding: 15px;}

.animation1s { transition: all ease 1s; }

#register_doctor, #register_patient{
	display:none;
}
.regist_title h2 {color: rgba(255,255,255,0.7);}
.regist_title a:hover { text-decoration: none;}
.smaller-img { width:60%; margin:auto;} 

#form-search-doctor {  margin: 30px 0 0 0; }
#form-search-doctor .send {  border-radius: 0 30px 30px 0; padding-right: 25px;  }
.input-home-doctor 	 { min-width: 360px; border-right: solid 1px #BABABA !important; border-radius: 30px 0 0 30px !important; padding-left: 25px;  }
.input-home-location {  border-radius:  0; margin: 0 -4px 0 -2px}
#form-search-doctor .send , .input-home-doctor, .input-home-location{ height: 65px; }

.blured { filter: blur(2px); filter: url("../stuff/blur.svg#gaussian_blur"); -webkit-filter: blur(2px); }
.blurme {}
	

.temporaryfademe { transition: opacity 1s; }

.inner-addon { position: relative; }
/* style icon */
.inner-addon .glyphicon {  position: absolute;  padding: 14px;  pointer-events: none; opacity: 0.6; }
#signin .inner-addon { color: #FFF; }

/* align icon */
.left-addon .glyphicon  { left:  15px;}
.right-addon .glyphicon { right: 15px;}

/* add padding  */
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 30px; }
.site-home input.error {
	border: solid 1px #FFF;
  	background: #FFF url(../img/validation-sprites.png) no-repeat right -40px !important;
  	border-color: #e74c3c !important;
	border-radius:10px !important
}
  
#form-login .form-control, #signin .form-control { 
	margin-bottom: 7px;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px rgba(255,255,255,0.9);
	background: none;
	color: #FFF;
	font-weight: 800;
	font-size: 180%;
	letter-spacing: 0.5px;
	transition: all ease 0.3s;
}
.field-wrapper { margin-bottom:20px;}

label.placeholder {
  position:absolute;
  top:-13px;
  left:15px;
  font-size:14px;
  color:#FFF;
  transition: all 0.1s linear;
  opacity:0;
  font-weight: 200;
  letter-spacing: 0.5px;
}
label.on {
	color:#1AD8C1;
}
label.show {
  top:-15px;	
  opacity:1;
}

#login label.placeholder {
  position:inherit;
  left:0;
}
#login label.on {
	color:#FFF;
}


label.error { /*font-family: 'Glyphicons Halflings';float: right;margin: -35px 10px 0 0;*/ color: #FFF; background:#E74C3C; padding: 3px; border-radius:3px; }
input.error { background: rgba(255,255,255,0.3) url(../img/validation-sprites.png) no-repeat right -40px !important; border-bottom-color: #e74c3c !important;
border-radius:10px !important}
.form-control { box-shadow: none; border: solid 1px #FFF; }

/*slide  modal from bottom*/
.modal.fade:not(.in) .modal-dialog {
    -webkit-transform:  translate3d(0, 125%, 0);
    transform:  translate3d(0, 125%, 0)
}
.success-response, .alert-response, .warning-response { color: #FFF }
.success-response h1, .alert-response h1, .warning-response h1 { font-size:300% }
.success-response h2 { /*color:rgb(0, 169, 123);*/  color: white; background: #2ecc71; padding: 15px 5px; border-radius: 30px;}
.success-response h4, .alert-response h4 { color: #FFF/*#585858*/; font-weight: 200; line-height: 140%; }

.alert-response h1{ color: #DD4B39;  }
.alert-response h2 { color: white; background: #DD4B39; padding: 15px 5px; border-radius: 30px; }

.warning-response { color: #566263;font-weight: 800;text-align: center;font-size: 110%; background: #B8FFF7; padding: 20px 5px; border-radius: 0 0 25px 25px; border: none; margin-top:7px }

/*.back-close { background:rgba(255,255,255,0.7); height: 55px;
padding: 20px; border-bottom: 1px solid #E3E3E3; }*/
 
#registration-patient { padding: 10px }
#response-registration { padding: 20px } 

/*
//Transparent #signin
.back-close { background:rgba(255,255,255,0.7); height: 55px;
padding: 20px; border-bottom: 1px solid #E3E3E3; }
#signin .modal-body { min-height: 460px; padding:0}
#signin .modal-dialog  { width: 460px }
#signin .modal-content { border-radius: 0px; background-color: rgba(255, 255, 255, 0.5); border:1px solid rgba(255, 255, 255, 0.8); 
-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
}
#register-select { background: rgba(255,255,255,0.2); text-align: center;  /*position: relative;bottom: -100px; }

*/
/*
#signin .modal-body { min-height: 460px; padding:0}
#signin .modal-dialog  { width: 460px }
#signin .modal-content {
	background: none;
	box-shadow: none;
	border: none;
}
#register-select { background:none}
.back-close { height: 55px;
padding: 20px;}
#register-select .close {font-size: 200%;color: #FFF;text-shadow:none; opacity: 1;}
*/
#login { margin: 7% auto 0 auto;}
#signin .modal-dialog  {  width: 100%;  height: 100%;  padding: 0; margin:0 }
#signin .modal-content {
	background: #004c95;
background: -moz-linear-gradient(top,  #004c95 0%, #00b1c0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004c95), color-stop(100%,#00b1c0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #004c95 0%,#00b1c0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c95', endColorstr='#00b1c0',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
	border: none;
	 height: 100%;
  	border-radius: 0;
}
#signin .modal-body { width: 450px; margin: 5% auto; }
#register-select, { background:none; padding: 0 50px; color: #FFF;font-weight:200; letter-spacing: 1px; text-align:center; }
.back-close { height: 55px; padding: 20px; font-weight: 200; color: #FFF;}
.back-close i { font-weight: 800; font-size: 200%;  text-shadow: none; opacity: 1; }

#signin .close {font-size: 400%;color: #FFF;text-shadow:none; opacity: 1;
position: fixed;
right: 20px;
top: 5px;
}

hr { border-top: 1px solid rgba(236, 240, 241,0.3);
margin-top: 15px;
margin-bottom: 25px;
}
.more-margin { margin-top:20px !important}
.logo-square { margin: 35px auto; width: 135px; text-align:center;clear:both; }
.btn { letter-spacing:normal;}
#signin .modal-header  { padding:12px; border: none; }
#signin .btn, #form-login .btn, #identify-patient .btn { margin:3px; border-radius: 3px }


.btn-facebook {	border-color: #3b5998;	border-bottom-color: #263a63;	background-color: #3b5998;	color: #FFF; }
.btn-facebook:hover, .btn-facebook:focus {	border-color: #4568b2;	/*border-bottom-color: #2d4575;*/	background-color: #4568b2;	color: #FFF; }
.btn-email { border-color:#1AD8C1; border-bottom-color: none;	background-color: #1AD8C1;	color: #333;}
.btn-email i { color:#7DFFE1; }
.btn-google { border-color:#dd4b39; border-bottom-color: #dd4b39;	background-color: #dd4b39;	color: #FFF;} }
.btn-google i { color:#FFF; }
.btn-google:hover { color:#FFF}
.btn-facebook i, .btn-email i, .btn-google i { padding-right: 10px;  border-right: 1px solid rgba(255,255,255,0.5); margin-right: 7px; font-size:130%}
.btn-full { width: 100%}

.btn-facebook, .btn-email, .btn-google { 
 text-transform: uppercase; padding: 15px;font-size: 115%;letter-spacing: 0.5px; border-radius: 27px !important; /*min-width: 290px*/
}

.btn-facebook:hover, .btn-email:hover, .btn-google:hover, .btn-success:hover { 
 box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
}

.btn-sm.btn-facebook, .btn-sm.btn-email, .btn-sm.btn-google { padding: 10px; font-size: 70%;}

.form-control:focus { box-shadow:none}

/* Login */
#login-patient .form-control, #identify-patient .form-control {
  margin-bottom: 7px;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px rgba(0,0,0,0.6);
  background: none;
  color: #666;
  font-weight: 800;
  font-size: 150%;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
}
#login-patient .logo-square{ display: none}
#login-patient hr { border-top: 1px solid rgba(0,0,0,0.3); }

#login-patient .signinput::-webkit-input-placeholder, 
#identify-patient .signinput::-webkit-input-placeholder { font-weight: 200; color:rgba(0,0,0,0.6) }
#login-patient .signinput::-moz-placeholder, 
#identify-patient .signinput::-moz-placeholder { font-weight: 200; color:rgba(0,0,0,0.6) }
#login-patient .signinput:-ms-input-placeholder, 
#identify-patient .signinput:-ms-input-placeholder { font-weight: 200; color:rgba(0,0,0,0.6) }
#login-patient .signinput input:-moz-placeholder, 
#identify-patient .signinput:-moz-placeholder { font-weight: 200; color:rgba(0,0,0,0.6) }

#identify-patient .btn.btn-register-outline { 
  color: #3898F9; 
  background-color: rgba(255,255,255,0); 
  border-color: #3898F9; 
  border-radius: 25px;  
  transition: all ease 0.3s;
  margin-top:15px;
}
#identify-patient .btn-register-outline:hover { background-color: #3898F9;color: #FFF;}

.masked-view h4 {
  line-height: 160%;
  font-weight: 200;
}

.register-bg { 
  background: #EFEFEF; border-radius: 15px;
  display: inline-block;
  padding: 5px 10px;
}

/* all */
.signinput::-webkit-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput::-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput:-ms-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput input:-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }


#register-mask { width: 200%;
  left: 0;
  position: relative;
}
#register-mask .masked-view {
  width: 50%; float: left;
  padding: 10px 5px 10px 25px;
}

#LoginRegisterPatient { background: #FFF }
#LoginRegisterPatient .modal-content { box-shadow: none;    border: none;}   




.padding-20 { padding:20px; }
/*.content {
				width:400px;
				height:300px;
				top:20%;
				margin:0 auto;
				background-color:#aaa;
				position:relative;
			}*/
.wraper { width:100%; position:absolute; top:0;left:0; overflow:hidden;}
.mask 	{ width:600%/*500%*/; }
.masked-item { width:16.5%/*21%*/; height:100%; float:left;}
      	


#search-results{	height: 100%;	background-color: #19c600; }
.item-card {     box-shadow: 3px 2px 5px #c1c1c1; min-height: 200px;  border-radius:15px;	padding:0 0 45px 0; background: #FFF; margin-bottom:25px; }
.item-card-header{
  padding: 20px !important;
  background-color: #3898F9;
  height: 160px; 
}
.columna{
  margin-bottom: 50px;
}
.item-card .default-pic, .item-card .user-pic {	height:100px;	width: 100px;border-radius:10px 0px 0px 0px;	 float: left }
.separate20 { height:20px; width:100%}
.default-pic img { };
.default-pic .gynecology { background: #FFB3B3 }
.item-card .item-head { height: 100px; width: 200px; padding: 25px 5px 5px 10px; float: left; }
.item-card .item-head h4, #doc-details .item-details h4 { font-size: 100%; color:#fff; opacity: 0.5; text-transform: uppercase; margin: 0 5px 2px 0  }


.item-card .clinics-list .day-n h4, .item-card .clinics-list .day-n p { text-align: center;}
.item-card .clinics-list h4 { margin-bottom: 0;  font-size: 13px; text-align: right; font-weight: bolder;}
.item-card .clinic-name h4 { text-transform: uppercase;  text-align: left;}
.item-card .clinics-list p {     margin: -3px 0 0 0; font-size: 10px;  opacity: 0.5; text-align: right;}
.item-card .item-head h1, #doc-details .item-details h1 { font-size: 160%; color: #FFF;margin: 0;text-transform: uppercase;letter-spacing: 1px; }

.item-card .info { clear: both; padding: 10px 15px;}
.item-card .item-card-footer{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.item-card-footer > a{
  width: 50%;
  margin: 0 !important;
  border-radius: 0 !important;
}
.item-card-footer button{
  width: 50%;
  margin: 0 !important;
  border-radius: 0 !important;
}

.item-card ul.clinics-list { list-style: none; margin: 0; padding:0 }
.fa-sun-o{
  display: none !important;
}
.item-card div{
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.clinics-list > .day-n{margin-left: 41.66666667%;}
.clinics-list > .day-n:nth-child(2){margin-left: 0;}
/* TODO poner version para todos los tamaños del navegador */
.cards-list .columna:nth-child(4n+4) { clear: both; }


/*div.clinics-list .clinic-name { width:60%; float: left }*/
div.clinics-list .dates { width:40%;float: left }
div.clinics-list{ margin-bottom:10px; border-bottom: solid 1px #dedede;}
div.clinics-list:last-child{ margin-bottom:10px; border-bottom: solid 0px #dedede;}
div.clinics-list:after{    clear: both;    content: "";    display: block; }

div.clinics-list .dates { font-size: 80%; color:#1AD8C1; line-height:120%; }
.dates .day { font-weight:600; float: left; width:20%; letter-spacing: 0.5px; }
.dates .time {  float: left; width:80% ; text-align: right; padding: 0 20px 0 0 }
.dates .day, .dates .time { border-bottom: 1px solid #EEEEEE}


.item-card .clinics-list li, div.clinics-list {	font-size: 105%;	color:#565a5c;	line-height:150%; text-transform:capitalize }
.rating-container .rating-stars { color:#FFE100; }
.rating-xs { font-size: 130% }
.item-card .rating-xs  { margin-top: 0px;}
.rating-container, .rating-stars, .rating-container .rating-stars:before { text-shadow: none }

.item-details .btn-book {  
  background-color: #50d8c4;  
  color: #FFF;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px;
  letter-spacing: 1px;
}
 
.item-details .btn-book:hover, .item-details .btn.btn-message:hover {
   box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
 }
.item-details .btn.btn-message {
  background-color: #FFF; /*transparent; !important;*/
  border: solid 2px #FFF !important;  
  color: #565A5C;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 10px 20px;
  letter-spacing: 1px;
}
.item-details .btn.btn-message, .item-details .btn-book { 
  margin-top: 20px;
  width: 100%;
}
.item-card .btn-moreinfo, .item-card .btn-book,
 { background: #39BECD;

 height: 45px; font-weight:600; text-transform: uppercase; color:#FFF; padding: 10px 2px;
}

.item-card .btn-moreinfo { border-color: #39BECD;
border-bottom: solid 2px #39BECD; background: #39BECD;
height: 45px; font-weight:600; text-transform: uppercase; color:#FFF; padding: 10px 2px;
 }
.item-card .btn-book { background: #C0C0C0; margin-left: -5px; border-radius: 0 5px 5px 0; 
  white-space: normal; line-height: 100%; color: #565A5C; 
  border:solid 1px #C0C0C0;
 height: 45px; font-weight:600; text-transform: uppercase;  padding: 15px 2px;
 }
.item-card .btn-moreinfo:hover { color: rgba(255,255,255,0.9); background-color: #39BECD; border:solid 3px #39BECD; border-bottom: solid 1px #39BECD; border-right: solid 1px #39BECD; }
.item-card .btn-book:hover { border:solid 3px #C0C0C0; }

.button.btn.btn-filter {
border: solid 1px #1AD8C1;
background: #FFF;
color: #3898F9;
}


.book-menu li.active { background: #FFF;     box-shadow: 3px -1px 5px rgba(0,0,0,0.07); }
.book-menu li.active>a { color:#99999F !important}

/*#results*/ .results-wrapper { background: rgba(255,255,255, 0.5); min-height:400px; border-top: solid 1px rgba(255,255,255, 0.8); padding-bottom: 100px }

.search-filters-area { background: rgba(255,255,255, 0.5); padding: 15px 10px 10px; border-bottom: solid 1px #DCDBDB; margin-bottom:15px }
.search-filters-area .filterby { margin:0; padding:5px 10px 0 0; color: #3898F9; float:left; font-weight:600; font-size: 120%}
.search-results {  margin-top:20px;}

#mainarea { background: #FFF }

.ui-helper-hidden-accessible { display:none; }

/*other */
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete {
	background:#FFF;
	width: 360px !important;
	border-radius: 0 0 5px 5px;
	padding: 0;
	box-shadow:0 2px 6px rgba(0,0,0,0.3);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
	font-size:8px;
}
.ui-autocomplete li, .pac-item { padding: 15px 20px;border-bottom: solid 1px #BDC3C7;font-size: 110%; color: #3E3E3E; list-style: none;}
.ui-autocomplete li:hover,.pac-item:hover { background:#CDD5D7; }
.pac-container{ font-family:'Lato', sans-serif;border-top:none;border-radius:0 0 5px 5px; }
.hdpi.pac-container:after, .pac-container:after{ background-image:none }
.pac-item{line-height:20px;border-top:none;}
.pac-icon{ margin-top:0px;}

.pac-matched{font-weight:400}









/* Medical Carrers */
.item-card .item-head .neurologia { background:#057CA0; }

	
/*
 opcion 2 para el fondo
 <div class="background-container">
	<div class="wrapper">

	</div>
</div>

.background-container { position: relative; width: 100%; min-height:800px; overflow: hidden;}
.background-container .wrapper {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/backgrounds/01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}*/

.btn.btn-login, .btn.btn-register, .btn.btn-register-outline { margin:15px 0 0 10px; }

.btn.btn-login { background-color: #0DE6C9; color:#FFF; border:none; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
a.btn.btn-login:hover, .navbar-default .navbar-nav>li>a.btn-login:hover { color: #FFF;background-color: #1CDBC1;border-color: #1CDBC1;}

a.btn.btn-default.btn-login { color:#FFF }

 .navbar-default .navbar-nav>li>a.btn-login:hover, .btn-register:hover {box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}

.btn.btn-register { color: #FFF; background-color: #3898F9;border-color: #3898F9; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-register:hover { color: #FFF;background-color: #2C72BD;border-color: #2C72BD;}

.btn-register:focus, {   
border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

.btn.btn-register-outline { color: #FFF; background-color: rgba(255,255,255,0); border-color: #FFF; border-width:2px; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-register-outline:hover { color: #FFF;background-color: #3898f9;border-color: #FFF;}

.btn-register-outline:focus, {   
border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

.btn.btn-sucess.btn-confirm, .btn.btn-edit  {
  background: #82CE34;
  border-color: #82CE34;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  padding: 12px 20px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn.btn-edit {
  color: #565A5C;
  background-color: rgba(255,255,255,0);
  border-color: #565A5C;
  border-width: 2px;
}
.btn.btn-success {text-transform: uppercase; border-radius: 20px;padding: 15px 20px;  font-size: 95%; letter-spacing: 1px; border-radius: 27px !important;
/*
 background: #ecf0f1;
border: none;
color: #7f8c8d;
*/}

.modal-backdrop { background: none;/* transition: all ease 0.2s;*/ }/*
.modal-backdrop.in { opacity:1}
.backdrop-signin {
    background-color: #3898f9;
    opacity:1;
}
*/
.center-block { float: none }
.left { float: left }
.right { float: right}
.no-padding { padding: 0 !important}





.looper .goback, .looper  .gofoward {	position: absolute;	top: 155px;background: none !important;	color: #565A5C;
	text-shadow: none !important;
	font-size: xx-large;
	padding: 100px 0 0 0;
}
.looper .goback {left:0px}	
.looper .goback:hover {}	
.looper .gofoward {right: 0px;}			
.looper .gofoward:hover {}	

.site-head { height:10px !important; margin-top:0 !important; min-height:0;}
		
		
		.img-profile { border: solid 5px #FFF; box-shadow: 2px 3px 8px rgba(0,0,0,0.07);   background: #FFF;     margin: auto;}
		.menubar-action  .nav-tabs { border:none; transition: all ease 0.5s}
		.menubar-action .nav-tabs>li.active>a, .menubar-action li a  { border: none;  color: rgba(255,255,255,0.5); text-transform: uppercase; background: none; font-weight: 400 }
		.menubar-action .nav-tabs>li.active>a  {font-weight: 600; color: rgba(255,255,255,1); }
		.menubar-action .nav-tabs>li.active>a:hover, .menubar-action .nav-tabs>li>a:hover , .menubar-action .nav-tabs>li.active>a:focus { background: none; }
	.menubar-action .nav-tabs>li.active, .menubar-action .nav-tabs>li.active>a:hover, .menubar-action .nav-tabs>li>a:hover , .menubar-action .nav-tabs>li.active>a:focus {	color: rgba(255,255,255,1) }
		.title-profile h4, .title-profile h5 { text-transform: uppercase; opacity: 0.8 }
		.title-profile h5, { /*color: #949494;*/ font-weight:200; opacity: 0.6}
		.badge { padding:15px; border-radius: 20px }
		.trophy > span:nth-child(2){ font-weight: bold; color: #0DE6C9; /*#50d8c4*/;}
    .trophy > span:nth-child(3){ font-size: 120%;}
    .trophy span { vertical-align: middle; text-align: center;text-transform: uppercase;font-size: 100%;color: 
      #FFF;margin: 5px 0;font-weight: 100; width: 100%;display: block; }
    .trophy { text-align: center;text-transform: uppercase;font-size: 85%;
      color: #FFF; margin: 20px 0;font-weight: 100; min-height: 85px;
      padding: 0 5px;
    }

    .middledivider{
      border-right: solid 1px rgba(255,255,255,0.7);
      height: 55px;
        float: right;
        margin-top: 15px;
        position: absolute;
        right: 0;
        top: 0;
    }
		.trophy:last-child{ border-right: none;}

		#doc-details #inner { background:#F7F7F7; padding: 0; border-bottom: solid 1px #CCC; border-bottom: solid 4px #eee; border-right: solid 4px #eee;height: 580px;}
		#doc-details {
     /*width: 100%;    height: 100%;
      height: 700px;*/ 
      margin-top: 40px ;
      margin-bottom: 70px;
      box-shadow: 4px 4px 7px rgba(0,0,0,0.15);
      padding: 0;
      border-radius: 15px;
      background: #3898F9;
    }
    .tab-content { background: #FFF; border-radius: 0 0 15px 0}
    .right-details { left: 1px; }
		.steps h2 { color:#1CD6BD; margin: 25px 0 40px;}
		.steps .dates-available { 
			border-radius: 3px; padding: 10px; font-weight: 200;display: inline-block;
		}
    .schedule-hours {     
      background: #FFF;
      border-radius: 20px;
      color: #009EFC;
      padding: 6px 0;
      font-weight: normal;
      max-width: 145px;
      margin: 0 auto 5px;
    }
    .weekday{
      font-weight: 600;
      background: #009EFC;
      border-radius: 20px;
      padding: 3px 5px;
      width: 24px;
      height: 24px;
      color: #FFF;
      display: inline-block;
    }
		
		.steps .date-resume { margin: 0 auto 5px;padding: 3px 7px;border-radius: 15px;border: solid 2px #FFF;opacity: 0.7;color: #009EFC;font-weight: 600;background: #FFF; }
		.steps h4 { text-transform: uppercase;font-weight: 700 !important;letter-spacing: 0.5px;font-size: 20px;}
	
		.hours-day { opacity: 0.5}
		
		
		.steps .date-resume2 { margin: 0 auto 5px;padding: 3px 7px;border-radius: 15px; opacity: 0.7;color: #FFF; }
		.steps .date-resume2 .weekday {font-weight: 600; color: #009EFC; background: #FFF;padding: 5px 8px;  width: 30px; border-radius: 15px;}
		.steps .date-resume2 .hours-day { opacity: 0.7; padding: 5px;}
		.slide-step.active { }
.btn-hour {
  border-radius: 15px;
  margin-bottom: 7px;
  border: none;
  color: #565A5C;
  background: #f5f5f5;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bolder;
  text-transform: uppercase;
  padding: 6px 8px
}
.semihidden { overflow: hidden; height: 500px }

.steps {    padding-top: 25px; }
.stepsy {margin-top: 40px;}
/*Fostepsy*/
.stepsy {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.stepsy > .stepsy-step { padding: 0; position: relative;}
.stepsy > .stepsy-step + .stepsy-step {}
.stepsy > .stepsy-step .stepsy-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.stepsy > .stepsy-step .stepsy-info {color: #999; font-size: 11px; text-transform: uppercase;}
.stepsy > .stepsy-step > .stepsy-dot {position: absolute; width: 20px; height: 20px; display: block; background: #fbe8aa; top: 25px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
/*.stepsy > .stepsy-step > .stepsy-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } */
.stepsy > .stepsy-step > .progress {position: relative; border-radius: 0px; height: 3px; box-shadow: none; margin: 20px 0;}
.stepsy > .stepsy-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.stepsy > .stepsy-step.complete > .progress > .progress-bar {width:100%;}
.stepsy > .stepsy-step.active > .progress > .progress-bar {width:50%;}
.stepsy > .stepsy-step:first-child.active > .progress > .progress-bar {width:0%;}
.stepsy > .stepsy-step:last-child.active > .progress > .progress-bar {width: 100%;}
.stepsy > .stepsy-step.disabled > .stepsy-dot {background-color: #f5f5f5;}
.stepsy > .stepsy-step.disabled > .stepsy-dot:after {opacity: 0;}
.stepsy > .stepsy-step:first-child  > .progress {left: 50%; width: 50%;}
.stepsy > .stepsy-step:last-child  > .progress {width: 50%;}
.stepsy > .stepsy-step.disabled a.stepsy-dot{ pointer-events: none; }
/*END Fostepsy*/

/* Apointments Resume */
#appointment-resume {
  min-height: 510px;
  left: 1px;
  bottom: -1px;
  border-radius: 0 0 15px 0;
}
.appointment-details {
  font-size: 220%;
  text-align: center;
/*  background: #FFF;
  padding: 13px 0 20px;
  margin: 0px 0 25px;
  border-bottom: solid 1px #DDD;*/

}
.appointment-day {
  background: #3898F9;
  color: #FFF;
  border-radius: 30px;
  padding: 8px 10px 10px;
}
.appointment-time {
    color: #3898F9;
}
.appointment-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #99999F;
    width: 100%;
    display: inline-block;
    border-bottom: solid thin #99999F;
    margin-bottom: 15px;
    text-align: left;
}
.ficha {
  background: #FFF; border-radius: 15px; padding: 15px 10px;
  display: inline-block;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.15);
  margin-bottom: 20px
}
.ficha .img-ficha {
  max-width: 35px; margin: 0 10px 0 0; float:right ;
}
/* Apointments Resume */


		.carousel-control.right, .carousel-control.left {  background: none !important; color: #565A5C; text-shadow: none !important; font-size: xx-large;width: 50px; padding: 100px 0 0 0;}
		.practice-item2 {border: 2px solid #E2E2E2;background: #FFF;border-radius: 15px;margin: 0 10px; }
		.practice-item { max-height: 285px;overflow: auto; background: #009EFC;color: #FFF;font-weight: 800 !important;border-radius: 15px;margin: 0 10px;padding: 20px 10px; text-align: center;}
		.practice-item img { padding: 20px 30px 10px;}
    .khidden{width:0;visibility:hidden;}

    #results {  position: relative;z-index: 10;display: none;margin-top: 500px;bottom: 0;background-color: #FFF; opacity: 0;width: 100%;transition: all ease 1s;}
    .resume-fieldset{
      padding: 25px 0;
    }
    .resume-fieldset>div>form>div{
      padding-top: 10px;
    }
    .resume-fieldset label{
      font-weight: normal;
      font-size: 1.2em;
    }
    #amount{
      color: white;
      background-color: #3ED87A;
      padding: 10px;
      font-size: 1.4em;
      margin-bottom: 30px;
    }
    .image-circle img{
      width: 100%;
      height: auto;
    }
    .image-circle{
      border-radius: 50%;
      padding-left: 0 !important;
    }
    #resume-date{
      padding: 20px;
    }
    #resume-date h2{
      display:inline-block;
      color: #999;
    }
    .text-circle{
      padding: 10px;
      border-radius: 50%;
      color: white;
      background-color:#3ED87A;
      color: white !important;
    }
    

    #resume-details{
      border-radius: 10px;
    }

    #resume-buttons, #resume-buttons > div{
      padding: 0;
      padding-top: 10px;
    }
   
    .btn-white{
      padding: 20px;
      border-radius: 30px;
      border: solid 1px #888;
      background: white;
      width: 80%;
      text-align: center;
    }
    .resume-baner{
      padding: 30px;
      background-color: #fff;
      color: #555;
      margin-bottom: 30px;
    }
    .resume{
      position: absolute;
      top: 0;
    }
    #resume-details > div{
      padding: 0;
    }
  
 
  .amount-cost, .amount-detail{
    font-size: 1.3em;
  }
  .amount-sub-total { font-size: 1.3em; text-transform: uppercase;  padding-top: 5px !important;}
  .amount-total { font-size: 1.7em; color: #000;     padding-top: 15px !important;}
  .amount-item{
    padding: 20px 0 !important;
    border-bottom:dashed 1px #cdcdcd;
  }
  /*.amount-item:last-child{
    border-bottom:dashed 1px #cdcdcd;
  }*/
  .amount-resume{
    margin: 25px 0 30px;
    background-color: #f3f3f3;
  }
  #resume-close{
    position: absolute;
    right: 0;
    top: 0;
    color:white;
    background-color: red;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 10px;
    z-index: 425;
    cursor: pointer;
  }

.item-details{
  background-color: #3898F9;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 15px 0 0 15px;

}
.item-details .close {
    float: left;
    font-size: 35px;
    color: #FFF;
    text-shadow: none;
    opacity: 1;

}
.item-details .close:hover {
  text-shadow: 0 1px 0 #000;
}


.book-menu{
  background-color: #EEE;
}
.book-menu li{
  width: 33.33333333%;
  text-align: center;
  border-right: solid 1px #FFF;
  padding: 7px 0px;
}
.book-menu li:last-child{
  border-right: none;
}
.book-menu li > a{
  color: #99999F;
}

/* - - Start Success.php view - - - - - - */

.success-resume{
 background-color: #fefefe;
 padding: 10px;
 border-radius: 10px; 
}
.success-item{
  border-top: dashed 1px #555;
  padding-bottom: 20px;
}
.success-item:first-child{
  border-top: none;
}
.success-amount{
  border-top: dashed 2px #555;
}


/* Profile  Appointments */
#book-wrapper {
  position:relative; width:100%; height:100%; margin:auto; padding: 20px 0; overflow-x: hidden; float: left
}
.book-steps {
  width:400%; /*acording to amount of steps, in this case 3*/
  position:relative; 
}
.slide-step {
  width:25%;/*acording to amount of steps, in this case 3*/
   border: solid 1px white; float: left
}
.slide-step h2 { margin: 10px 0 30px }
#pleasewait{ 
  width 100%; height:200px;
  background:  url('../img/loading.svg') no-repeat center / 80px;
}

/* Selector CAROUSEL DATA*/
.btn-filter {
  background: #FFF;
  color: #44CCCD;
  border: solid 2px #44CCCD;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.17);
  border-radius: 20px;
  padding: 5px 15px 7px;
  transition: all ease 0.3s;
  text-transform: uppercase;
}
.btn-filter:hover {
  background: #44CCCD;
  border-color: #44CCCD;
  color: #000;
}
.loop-item { background: #EEE; color: #999; font-weight: 800 !important;border-radius: 25px;margin: 0 10px 10px; padding: 20px 10px; text-align: center}
.loop-item-in, .practice  { background: #009EFC;color: #FFF; }
.loop-item-in h5, .practice h5  { color:#FFF !important}
.loop-item img { margin: 0 auto;  max-width: 150px;}
.loop-item h4 {  
  font-size: 160%;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.loop-item h5 { color:#999;font-weight: 100;font-size: 200%;letter-spacing: 1px;text-transform: uppercase;}
.loop-item:focus { outline: none; background: #0081CE} /*claro 37B3FD*/

.loop-item-days { margin: 0 2px 10px}
.loop-item-days h5 { color:#999; font-weight: 100;font-size: 130%;letter-spacing: 1px;text-transform: uppercase; margin: 5px 0 15px}
.loop-item-days h1 { margin: 12px 0 0px;}
.slick-prev:before, .slick-next:before { color:#333; font-size: 40px;}
.slick-prev:before {
    content:"<";     
}
.slick-next:before {
    content:">";
}
.clickable {cursor: pointer;}



/* Selector CAROUSEL DATA*/

@media (max-width: 768px ) {
 .title-profile { text-align: center; margin-top: 25px} 
}